# Ignore Python virtual environments
venv/
env/

# Ignore macOS system files
.DS_Store

# Ignore log files
*.log

# Ignore compiled files
*.pyc
__pycache__/

# Ignore Docker-related files
docker-compose.override.yml
docker-compose.local.yml

# Ignore other system files
Thumbs.db
